/* To test if CSS works */


/*

  Welcome to Standard CSS used for Nyp Astronomy webpage
  Here will be every CSS used for all Astronomy webpages
  I. Structure of Standard.css
  |
  ├─ 1.Global
  ├─ 2.Fonts
  ├─ 3.Navbar

  | Colour Palette for web pages
  ├─ #000000 , #10113f , #db3a49 , #FFF , #555555 , #FFC07F ,


*/

/* --------------------------------------------------------------------------
    1.Global
-------------------------------------------------------------------------- */

/* ensure selected div containers have black background, overrides bootstrap */
div.background {
  background-color:#000000 !important;
}


/* Ensure Smooth Scrolling of webpage */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;

}
/* Ensure Banner is consistent and aligned */

.imgbanner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
}

/* aligns pages */
.pageAlign{
  text-align: center;
}

/* get back to top */
/* to be edited */
#GBTT {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(5,107,188,1.00);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#GBTT:hover {
  background-color: rgba(40,58,85,1.00);
}
/* default container padding to replace all <br/> */
div.sepPadding{
  padding-bottom:50px;
}
/* container padding 2 to replace all <br/> */
div.sepPadding2{
  padding-bottom:30px;
}

/* container padding to replace all <br/> */
div.sepPadding3{
  padding-bottom:100px;
}



/* --------------------------------------------------------------------------
    2.Fonts
-------------------------------------------------------------------------- */

/* Importing Fonts for used in webpages */

@font-face{
  font-family:alice;
  src: url('../../Multimedia/Fonts/Alice/Alice-Regular.ttf');
}
@font-face{
  font-family:quicksand;
  src: url('../../Multimedia/Fonts/Quicksand/static/Quicksand-Bold.ttf');
  font-weight:bold;
  font-style:normal;
}

@font-face{
  font-family:quicksand;
  src: url('../../Multimedia/Fonts/Quicksand/static/Quicksand-Light.ttf');
  font-weight:normal;
  font-style:normal;
}

/* Sets footer links all grey */

footer li a{
  color:#555555;
  text-decoration: none ;
}
/* set footer hover to mellow apricot */
footer li a:hover{
  color:#FFC07F;
  text-decoration: none ;
}

/* Main Title Caption */
.MTC {
  font-size: 70px;
  color:#FFF;
  font-family:quicksand;
}

/* Main Subtitle Caption */
.MSC {
  font-size: 40px;
  color:#FFF;
  font-family:quicksand;
}

/* Secondary Subtitle Caption */
.SSC {
  font-size: 30px;
  color:#FFF;
  font-family:alice;
}
/* Tertiary subtitle caption */
.TSC{
  font-size: 20px;
  color:#FFF;
  font-family:alice;
}


/* --------------------------------------------------------------------------
    3.Navbar
-------------------------------------------------------------------------- */

/* Modification to Navbar pill active colour */
.astro-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.50em;
  }
.astro-pills .nav-link.active,
.astro-pills .show > .nav-link {
    color: #db3a49;
    background-color: #10113f;
}

/* button for navbar */
button.searchbutton{
  color:#db3a49;
  border-radius:0.50em;
  border:1px solid #db3a49;
  background-color:rgba(0,0,0,0.0);
  padding:10px;

}
button.searchbuttonhover:hover{
  color:#FFF;
  background-color:#db3a49;
  border-radius:0.50rem;
  border:none;
  padding:10px;
  border:1px solid #db3a49;
}


/* --------------------------------------------------------------------------
    3.Navbar testing
-------------------------------------------------------------------------- */
nav.fixedNBar{
  position: fixed;
  display:flex;
  min-height: 50px;
  margin-bottom: 50px;
  background-color: #000000;
  width:100%;
}
