/* To test if CSS works */


/*

  Welcome to Standard CSS used for Nyp Astronomy webpage
  Here will be every CSS used for all Astronomy webpages
  I. Structure of Standard.css
  |
  ├─ 1.Global
  ├─ 2.Fonts
  ├─ 3.Navbar

*/

/* --------------------------------------------------------------------------
    1.Global
-------------------------------------------------------------------------- */


* {
  background-color:#000000;
}


/* Ensure Smooth Scrolling of webpage */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;

}
/* Ensure Banner is consistent and aligned */

.imgbanner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
}

.pageAlign{
  text-align: center;
}



/* --------------------------------------------------------------------------
    2.Fonts
-------------------------------------------------------------------------- */

/* Importing Fonts for used in webpages */

@font-face{
  font-family:alice;
  src: url('../../Multimedia/Fonts/Alice/Alice-Regular.ttf');
}
@font-face{
  font-family:quicksand;
  src: url('../../Multimedia/Fonts/Quicksand/static/Quicksand-Bold.ttf');
  font-weight:bold;
  font-style:normal;
}

@font-face{
  font-family:quicksand;
  src: url('../../Multimedia/Fonts/Quicksand/static/Quicksand-Light.ttf');
  font-weight:normal;
  font-style:normal;
}

/* Sets footer links all grey */

li a{
  color:grey;
  text-decoration: none;
}

/* Main Title Caption */
.MTC {
  font-size: 70px;
  color:#FFF;
  font-family:quicksand;
}

/* Main Subtitle Caption */
.MSC {
  font-size: 40px;
  color:#FFF;
  font-family:quicksand;
}

/* Secondary Subtitle Caption */
.SSC {
  font-size: 30px;
  color:#FFF;
  font-family:alice;
}
/* Tertiary subtitle caption */
.TSC{
  font-size: 20px;
  color:#FFF;
  font-family:alice;
}


/* --------------------------------------------------------------------------
    3.Navbar
-------------------------------------------------------------------------- */

/* modification to Navbar pill active colour */
.astro-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.50rem;
  }
.astro-pills .nav-link.active,
.astro-pills .show > .nav-link {
    color: #db3a49;
    background-color: #10113f;
}
